.menu {
	&.horizontal {
		@apply flex gap-3;
		position: relative;
	}
	li {
		
		&.search-icon-wrapper {
			position: absolute;
			right: 0;
			display: flex;
			.search-input-wrapper {
				display: none;
				margin-top: 5px;
				form {
					display: flex;
					input#search {

					}
					input[type=submit] {
						cursor: pointer;
					}
				}
			}
			.search-icon {
				height: 36px;
				width: 36px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				line-height: 36px;
				cursor: pointer;
			}
		}
		a {
			@apply inline-flex items-center text-base py-2 px-4;
			line-height: 36px;
		}
		&.current-menu-item {
			a {
				@apply bg-white;
			}
		}
		&.font-bold {
			a {
				font-size: 30px;
				line-height: 36px;
			}
		}
	}
	&.dropdown {
		@apply flex flex-col space-y-2;
		li {
			a {
				@apply w-full text-base py-1 px-2 hover:bg-primary-600 transition;
			}
		}
	}
	.dropdown-toggle {
		@apply inline-flex items-center text-base py-1 px-2 hover:bg-primary-50 rounded transition;
	}
	li {		
		&.current-menu-item {
			a {				
				background-color: #ea580b;
			}			
		}
	}
}